*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.container{
    padding: 1rem;
}
.formHead h1{
    text-transform: uppercase;
    text-align: center;
}

input{
    border: none;
    border-bottom: 1px solid #000 ;
    outline: none;
}

.formTitleInput{
    display: flex;
    text-transform: capitalize;
    padding: .7rem .7rem 0;
}

.formTitleInput input{
width: 80%;
}


#meta{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.row2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.row2 input{
    width: 60%;
}